<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h1>{{ post.title }}</h1>

        <!-- Utilisation de l'image dans static/images -->
        <img src="{% static 'images/andrew-ruiz--ajZ_Xzeqe4-unsplash.jpg' %}" alt="{{ post.title }}" class="img-fluid">

        <p>{{ post.content }}</p>
        <p><em>Written by {{ post.author }} on {{ post.created_at }}</em></p>
        <a href="{% url 'posts_list' %}" class="btn btn-secondary mt-3">Back to Posts</a>
    </div>
</body>
</html>


