body {
    background-color: #cccccc;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Empêche le défilement horizontal */
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.image-fullscreen {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

.container {
    padding: 20px;
}

.intro-text {
    position: absolute;
    top: 60px;
    left: 20px;
    right: 10px;
    color: #ffffff;
    font-family: 'Courier New', monospace;
    font-size: 0.5rem;
    text-align: left;
    font-weight: 900;
    z-index: 10;
    padding: 0;
}

/* Ajustement pour mobile */
@media (max-width: 768px) {
    .intro-text {
        top: 80px;
        font-size: 2.5rem;
        font-family: 'Courier New', monospace;
        font-weight: 900; /* Utilisation de weight 700 au lieu de bold */
        text-align: center;
        white-space: normal;
        overflow-x: auto;
    }

    /* Masquer "Fun Facts" sur mobile */
    .fun-facts {
        display: block; /* Rendre la section visible */
        position: relative;
        top: auto; /* Ajuste la position pour qu'elle ne chevauche pas l'image */
        width: 90%; /* Réduire la largeur pour un meilleur rendu sur mobile */
        margin: 20px auto;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.6); /* Ajouter un fond pour améliorer la lisibilité */
        color: #fff;
        border-radius: 8px;
    }
}

#intro::after {
    content: "|";
    animation: blink 0.7s infinite step-start;
    margin-left: 2px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.parallax {
    background-image: url('../images/background.jpg');
    height: 400px;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fun-facts h2, .articles-section h2 {
    font-size: 1.5rem;
}

.fun-facts p, .articles-section p {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .fun-facts, .articles-section {
        padding: 10px;
    }
    .fun-facts h2, .articles-section h2 {
        font-size: 1.2rem;
    }
    .fun-facts p, .articles-section p {
        font-size: 0.9rem;
    }
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.social-links a {
    font-size: 20px;
}

@media (max-width: 768px) {
    .social-links a {
        font-size: 18px;
        margin: 0 5px;
    }
}

h1.text-center.my-4 {
    font-size: 2.5em;
}

@media (max-width: 768px) {
    h1.text-center.my-4 {
        font-size: 2em;
    }
}

.animate-slide {
    animation: slideIn 1s ease-out forwards;
}
